@media screen and (max-width: 1227px) {
    header {
        height: 150px;
    }

    #myCarousel {
        margin-top: 380px;
    }

    #postoneborder a {
        text-decoration: none;
        color: black;
        font-size: 55px;
        font-family: 'Acme', sans-serif;
    }

    #navigationbar li {
        margin-top: 30px;
        display: inline-block;
        margin-right: 120px;
        margin-left: 120px;
        font-size: 75px;
    }

    #thename {
        display: flex;
        margin-top: 200px;
        font-size: 120px;
        font-family: 'Mogra', cursive;
        color: #F73946;
    }

    #thenameelse {
        font-size: 150px;
        padding-top: 70px;
    }

    .postcontainter {
        margin-top: 100px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        top: 800px;
        background-color: #E8F6FA;
        overflow: hidden;
    }

    .content div {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        height: 600px;
        width: 100%;
    }

    .content div a {
        margin-right: 20px;
    }

    #postoneborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    #postsecondborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    #postthirdborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    #postfourthborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    #postfiveborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    #postsixthborder {
        display: block;
        padding-right: 55px;
        align-content: center;
        border: 2px solid red;
        margin-top: 20px;
        margin-right: 30px;
        height: 700px;
        width: 100%;
    }

    .content div a {
        padding-left: 45px;
    }

    #postonecontain {
    }

    #secondpostcontain {
        margin: 0;
    }

    #thirdpostcontain {
        margin: 0;
    }

    #fourthpostcontain {
        margin: 0;
    }

    #fifthpostcontain {
        margin: 0;
    }

    #sixthpostcontain {
        margin: 0;
    }
}
